@import 'bootstrap';
@import './style.css';
@import './masthead.css';
@import './button86.css';
@import'./card.css';
@import './navbar.css';

:root {
    --main: #24363F;
    --acc:#A7915C;
    --btn: #bb9f60;
    --bg: #f3f3f3;
    --txt: #ffffff;
}

body {
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

.btn-custom {
    background-color: var(--btn)!important;
    color: var(--txt)!important;
    border-color: var(--acc)!important;
}



