.navbar{
    background-color: var(--main)!important;
    color: var(--nav)!important;
}

.logo{
    color: var(--acc)!important;
}

.user-text{
    color: var(--acc) !important;
}

.navbar a:not(.logo, .dropdown-item, .user-text) {
    color: var(--txt) !important;
}

.navbar-nav li {
    display: flex;
    justify-content: center;
}