.alert-custom{
        --bs-alert-color: var(--bs-warning-text-emphasis);
        --bs-alert-bg: var(--acc)!important;
        --bs-alert-border-color: var(--bs-warning-border-subtle);
        --bs-alert-link-color: var(--bs-warning-text-emphasis);
      }